<h1>Listing towns which belongs to <%= @town.city.name %> <%= @town.name %></h1>

<table>
  <tr>
    <th>거래</th>
    <th>종류</th>
    <th>확인일자</th>
    <!--<th></th>-->
  </tr>

  <% @houses.each do |house| %>
      <tr>
        <td><%= house.trade_type %></td>
        <td><%= house.house_type %></td>
        <td><%= Utility.utc_datetime_to_kor_str house.confirm_date %></td>
        <!--<td><%= link_to 'Show', house %></td>-->
      </tr>
  <% end %>
</table>

<%= will_paginate @houses %>

<br />
